h1{
  color: rgb(175, 43, 43);
  font-family: 'Amatic SC', sans-serif;
  font-size:5rem;

}

nav {
  background-color: rgb(77, 18, 18);
  font-size: 2rem;
}

h4 {
  color: rgb(175, 43, 43);
}

body {
  font-family: 'Caveat', cursive;
font-family: 'Libre Baskerville', serif;
}

.card-coctail {
  margin-bottom: 50px;

}
.left {
  float: left;
  width: 50%;
}

img {
  width: 90%;
  height: auto;
}

.right {
  float: right;
  width: 50%;
}

.instruction-card {
  float: left;
}

ul {
  font-weight: bold;
  font-size: 1.2em;
}

p {
  font-size: 1.2em;
}

.coct-title {
  color: rgb(175, 43, 43);
  font-family: 'Amatic SC', sans-serif;
  font-size: 3rem;
}
